@import url(../../css/style.css);

header{
    background-color: var(--cor-branco);
    border-right: 5px solid var(--cor-porto-secundaria);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 8%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header > img{
    max-width: 100%;
}

.header-link{
    text-decoration: none;
}

.logo{
    font-size: 2.7rem;
    padding: 1.5rem 0;
    color: var(--cor-porto-secundaria);
    transition: 0.5s;
}

.logo:hover{
    color: var(--cor-porto);
}

@media screen and (max-width: 650px) {
    header{
        position: relative;
        height: 5rem;
        width: 100%;
        flex-direction: row;
        border: 0;
        border-bottom: 5px solid var(--cor-porto-secundaria);
    }

    header img{
        max-height: 100%;
    }

    header nav ul {
        display: flex; /* Display the list items (logos) in a row */
    }

    header nav ul li{
        margin: 0 1rem;
        padding: 0 0.5rem;
    }

    .logo{
        padding: 0;
        font-size: 2rem;
    }
}